<footer>
<small>Copyright&copy; <a href="index.html">KAIRANBAN</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--ページの上部へ戻るボタン-->
<div class="pagetop">
  <div class="hide-on-mobile">
    <a href="https://lin.ee/sbALW6J"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
  </div>
  <a href="#"><i class="fas fa-angle-double-up"></i></a>
</div>

</div>
<!--/#container-->

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>