<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>回覧板</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheets" href="style.css">
</head>

<body>
  <%= render "devise/shared/header" %>

  <main>
    <div id="container">
      <div id="contents">
        <br>
        <div class="wrapper">
          <h2>回覧板編集</h2>
          <br>
          <br>
            <%= render 'form', submit_button_text: '内容を更新する' %>
        </div>
      </div>
    </div>
  </main>
  <%= render "devise/shared/footer" %>
</body>
